<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <p>Ciao <span class="text-danger"><%= first_name %></span>,</p>
            <p>benvenuto su nodelog, realtime web analytics.</p>
            <p>Per iniziare a monitorare i tuoi website devi attivare il tuo account accedendo al seguente <a href='http://nodelogapp.herokuapp.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %>' target='_blank'>link</a></p>
            <p>Oppure copia ed incolla questa stringa nella url del tuo browser :</p>
            <p>http://nodelogapp.herokuapp.com//#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %></p>
            <p></p>
            <p>Grazie</p>
            <p class='text-muted'>nodelog team | nodelogapp.herokuapp.com/ | ademarchi74@gmail.com</p>
        </div>            
    </div>
</div>