<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <p>Hi <span class="text-danger"><%= first_name %></span>,</p>
            <p>welcome to nodelog, realtime web analytics.</p>
            <p>To start website analytics you must activate your account, use this <a href='http://nodelogapp.herokuapp.com/#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %>' target='_blank'>link</a></p>
            <p>Or copy and paste this url in your browser :</p>
            <p>http://nodelogapp.herokuapp.com//#!<%= lang %>/activate/<%= _id %>/<%= auth.authkey %></p>
            <p></p>
            <p>Thank You</p>
            <p class='text-muted'>nodelog team | nodelogapp.herokuapp.com/ | ademarchi74@gmail.com</p>
        </div>            
    </div>
</div>